<div class="card">
  <p-table
    #dt
    [value]="jobs"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['id', 'name', 'printer', 'slicer', 'status']"
    [tableStyle]="{ 'min-width': '70rem' }"
  >
    <!-- Global search -->
    <ng-template pTemplate="caption">
      <div class="flex justify-end">
        <p-iconfield iconPosition="left">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            #searchInput
            pInputText
            type="text"
            (input)="dt.filterGlobal(searchInput.value, 'contains')"
            placeholder="Search jobs"
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Model Id</th>
        <th>Printer</th>
        <th>Status</th>
        <th>Slicer</th>
        <th>Submitted At</th>
        <th></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="id" placeholder="Job ID" />
        </th>
        <th>
          <p-columnFilter type="text" field="modelId" placeholder="Model ID" />
        </th>
        <th>
          <p-columnFilter type="text" field="printerName" placeholder="Printer name" />
        </th>
        <th>
          <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown
                [(ngModel)]="selectedStatus"
                [options]="statuses"
                (onChange)="selectedStatus.set($event.value); filter($event.value)"
                placeholder="Select status"
                [showClear]="true"
              />
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="slicerName" placeholder="Slicer" />
        </th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-job>
      <tr class="cursor-pointer hover:surface-hover">
        <td>{{ job.id }}</td>
        <td>{{ job.modelId }}</td>
        <td>{{ job.printerName }}</td>
        <td>
          <p-tag [value]="job.statusDescription" [severity]="getSeverity(job.statusCode)" />
        </td>
        <td>{{ job.slicerName }}</td>
        <td>{{ job.submittedAt }}</td>
        <td>
          <p-button
            icon="pi pi-angle-right"
            variant="text"
            severity="secondary"
            [rounded]="true"
            (onClick)="openJob(job.id)"
          />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No jobs running</td>
      </tr>
    </ng-template>
  </p-table>
</div>
