<p-card [style]="{ background: '#333', padding: '12px 16px' }">
  <ng-template #header
  ><span class="font-bold">{{ result().slicingProperty.name }}</span></ng-template
  >
  <div class="flex flex-row justify-between items-center">
    <p>{{ result().slicingProperty.description }}</p>
    <div class="flex flex-row gap-4">
      <p-button
        icon="pi pi-eye"
        variant="text"
        severity="secondary"
        pTooltip="More info"
        tooltipPosition="bottom"
        size="small"
        (onClick)="openDetail.emit(result().id)"
      />
      <p-button
        icon="pi pi-play"
        variant="text"
        severity="secondary"
        pTooltip="Start Print"
        tooltipPosition="bottom"
        size="small"
        (onClick)="startPrint.emit(result().id)"
      />
      <p-button
        icon="pi pi-download"
        variant="text"
        severity="secondary"
        tooltipPosition="bottom"
        pTooltip="Download"
        size="small"
      />
      <p-button
        icon="pi pi-trash"
        variant="text"
        severity="secondary"
        tooltipPosition="bottom"
        pTooltip="Delete"
        size="small"
      />
    </div>
  </div>
  <ng-template #footer
  ><span class="italic text-sm">Created At: {{ result().createdAt | date }}</span></ng-template
  >
</p-card>
