<aside
  class="w-60 h-full p-4 space-y-4 shadow-md"
  [ngClass]="{
    'bg-slate-800 text-white': isDarkMode(),
    'bg-white text-slate-900': !isDarkMode()
  }"
  *ngIf="visible()"
>
  <a
    routerLink="/dashboard"
    class="block px-2 py-2 hover:bg-slate-700 rounded"
    [ngClass]="{ 'hover:bg-slate-700': isDarkMode(), 'hover:bg-slate-200': !isDarkMode() }"
  >
    Dashboard
  </a>
  <a
    routerLink="/settings"
    class="block px-2 py-2 hover:bg-slate-700 rounded"
    [ngClass]="{ 'hover:bg-slate-700': isDarkMode(), 'hover:bg-slate-200': !isDarkMode() }"
  >
    Impostazioni
  </a>
</aside>
