<article class="flex flex-col gap-2" *ngIf="model() !== null">
  <p-iftalabel>
    <input
      pInputText
      id="name"
      [formControl]="nameFc"
      autocomplete="off"
      class="w-full"
      max="64"
    />
    <label for="name">Name</label>
  </p-iftalabel>
  <p-iftalabel>
    <textarea
      pTextarea
      id="description"
      [formControl]="descriptionFc"
      rows="5"
      class="w-full"
      style="resize: none"
      max="512"
    ></textarea>
    <label for="description">Description</label>
  </p-iftalabel>
  <p-iftalabel>
    <input
      pInputText
      id="modelId"
      [formControl]="idFc"
      autocomplete="off"
      class="w-full"
    />
    <label for="modelId">Model Id</label>
  </p-iftalabel>
  <p-iftalabel>
    <input
      pInputText
      id="resourceId"
      [formControl]="resourceIdFc"
      autocomplete="off"
      class="w-full"
    />
    <label for="resourceId">Resource Id</label>
  </p-iftalabel>
  <div class="flex flex-row justify-between">
    <p-iftalabel class="basis-6/13">
      <p-datepicker
        [formControl]="createdAtFc"
        inputId="createDate"
        [showIcon]="false"
        iconDisplay="input"
        styleClass="w-full"
      />
      <label for="createDate">Created At</label>
    </p-iftalabel>
    <p-iftalabel class="basis-6/13">
      <p-datepicker
        [formControl]="updatedAtFc"
        inputId="updateDate"
        [showIcon]="false"
        iconDisplay="input"
        styleClass="w-full"
      />
      <label for="updateDate">Updated At</label>
    </p-iftalabel>
  </div>
</article>
