<printer-page-title [showBack]="true" [title]="`Model Detail`" (back)="back()">
  <div printerPageActions class="flex flex-row gap-4">
    <p-button
      icon="pi pi-download"
      label="Download STL"
      [raised]="true"
      severity="secondary"
      (onClick)="downloadStl()"
    />
    <p-button
      icon="pi pi-save"
      label="Save"
      [raised]="true"
      severity="secondary"
      (onClick)="save()"
    />
  </div>
</printer-page-title>

<main class="flex flex-col p-4 gap-4 justify-between items-center">
  <div class="w-full flex flex-row justify-between">
    <div
      class="basis-1/2 w-full max-w-sm md:max-w-md lg:max-w-lg mx-auto aspect-square"
    >
      <printer-model-detail-preview [blob]="preview()" />
    </div>
    <div
      class="basis-1/2 w-full max-w-sm md:max-w-md lg:max-w-lg mx-auto aspect-square"
    >
      <printer-model-detail-info [model]="model()"></printer-model-detail-info>
    </div>
  </div>
  <div class="w-full">
    <printer-model-detail-tabs />
  </div>
</main>
