<article>
  <p-card [style]="{ padding: '12px 16px', background: '#262626' }">
    <ng-template #header>
      <div class="flex flex-row justify-between items-center">
        <h3 class="text-xl font-bold">Slicing Results</h3>
        <p-button
          icon="pi pi-play"
          severity="secondary"
          label="Start Slicing"
          [raised]="true"
          (onClick)="startSlicing.emit()"
        />
      </div>
    </ng-template>
    <div class="flex flex-col gap-2 py-4">
      <div *ngFor="let result of results()">
        <printer-model-detail-tab-slicing-card
          [result]="result"
          (openDetail)="openDetail.emit($event)"
        />
      </div>
    </div>
  </p-card>
</article>
